* {
  font-family: "Montserrat", sans-serif;
}


.hotdealstags {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  /* padding: 8px 0px 15px 0px; */
}
.hotdealstags > a {
  text-decoration: none solid rgb(14, 14, 14);
  font-size: 17px;
  color: black;
  font-weight: 550;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 21px 24px;
}
.carousel {
  /* background: #EEE; */
}

.carousel-cell {
  width: 33%;
  /* height: 500px; */
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
img{
    width: 50%;
}








.crazy_banner {
  /* border: 1px solid black; */
  margin: 25px 0px;
}
.crazy_banner img {
  object-fit: fill;
  /* border: 1px solid rgb(148, 36, 36); */
  width: 100%;
}
.deals_poster {
  /* border: 1px solid rgb(148, 36, 36); */
  display: flex;
  width: 70%;
  margin: auto;
}
.deals_poster > div {
  /* border: 1px solid blue; */
  /* margin: auto 10px; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05px;
  cursor: pointer;
}
.deals_poster img {
  width: 90%;
}
#couponImage {
  cursor: pointer;
}
#couponImage>img{
  width: 100%;
}

.popular_categories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  cursor: pointer;
  /* border: 1px solid red; */
}
#heading_popular_category,
#discount,
#bestsellers,
#clearance,#stoopid {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;
}
.popular_categories>div{
  /* border: 1px solid red; */
  text-align: center;
}
.popular_categories>div>img{
/* border: 1px solid blue; */
width: 100%;

}

.discount_box {
  /* border: 1px solid black; */
  display: grid;
  gap: 15px;
  /* padding: 10px; */
  grid-template-columns: repeat(2, 1fr);
  cursor: pointer;
  /* justify-content: center; */
}
.discount_box img {
  /* border: 1px solid red; */
  width: 100%;
}

.Carousel {
  /* background: #EEE; */
  /* border: 1px solid red; */
margin-top: -190px;
}

.Carousel-cell {
  width: 25%;
  /* height: 100px; */
  /* margin-right: 10px; */
  /* background: #8C8; */
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.Carousel-cell.is-selected {
  /* background: #ED2; */
}

/* cell number */
.Carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 1px;
  color: rgb(255, 255, 255);
}
.Carousel-cell img{
  width: 95%;
}




.clearance_zone_box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  /* border: 1px solid red; */
  width: 98%;
  font-family: "Montserrat", sans-serif;

  margin: auto;
}

.clearance_zone_box img {
  width: 100%;
  /* border: 1px solid red; */
}
.best_sellers_box p {
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
}
#poster_slider {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#poster_slider > img {
  width: 100%;
  /* border: 1px solid red; */
  /* text-decoration: ; */
}
#view_all {
  display: block;
  text-align: center;
  /* text-decoration: ; */
  font-size: 12px;
  color: #42a2a2;
  font-weight: 700;
  margin: 15px auto;
}
.stoopid_collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.stoopid_collection > img {
  width: 100%;
}
.tribe_corner > img,
.vote > img {
  /* border: 1px solid black; */
  width: 99%;
  margin: 10px;
}

#footer {
  background-color: #181818;
  color: white;
  padding-top: 80px;
  height: 800px;
}
#footer_logo {
  /* border: 1px solid white; */
  width: 70%;
  margin: auto;
}
#footer_logo img {
  width: 13%;
}

.footer_box {
  /* border: 1px solid white; */
  width: 70%;
  /* height: 500px; */
  margin: auto;
  font-size: 12px;
  line-height: 5px;
  display: flex;
  justify-content: space-between;
}
.footer_box > div {
  /* border: 1px solid red; */
  /* padding: 5px; */
}
.footer_box > div > a {
  display: block;
  margin: 18px 8px;
  color: white;
  text-decoration: none;
}
.footer_box > div > a:first-child {
  color: #fdd835;
}
.footer_box > div > div > a {
  color: #eeeeee;
  margin: 10px 8px;
}
#subscribe {
  /* border: 1px solid white; */
  margin-top: 40px;
  margin-left: 10px;
}
#subscribed {
  background-color: #fdd835;
  color: #181818;
  padding: 10px;
}
#email {
  background-color: #181818;
  /* padding: 10px 25px 10px 25px; */
}
#about_app {
  width: 70%;
  /* border: 1px solid red; */
  margin: 25px auto;
  color: #eeeeee;
  display: flex;
  /* justify-content: space-between; */
}
#about_app > div {
  /* border: 1px solid blue; */
}
#about_app > div:nth-child(2) {
  /* border: 1px solid blue; */
  margin-left: 110px;
  display: flex;
  flex-direction: column;
}
#about_app > div > div {
  display: flex;
}
#about_app > div > div > img {
  /* border: 1px solid blue; */
  width: 40%;
}
#about_app > div:nth-child(3) {
  /* border: 1px solid blue; */
  margin-left: -25px;
  display: flex;
  flex-direction: column;
}
#about_app > div:nth-child(3)>img{
width: 100%;
}
#about_app a {
  display: block;
  margin: 18px 8px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  line-height: 5px;
}
#about_app a:first-child {
  color: #fdd835;
}
#footer_shopping_menu {
  width: 70%;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  /* justify-content: space-between; */
}
#footer_shopping_menu > div {
  /* border: 1px solid white; */
}
#footer_shopping_menu > div:nth-child(2) {
  /* border: 1px solid white; */
  margin-left: 80px;
}
#footer_shopping_menu > div:nth-child(3) {
  /* border: 1px solid white; */
  margin-left: 40px;
}
#footer_shopping_menu > div:nth-child(4) {
  /* border: 1px solid white; */
  margin-left: 110px;
}
#footer_shopping_menu a {
  display: block;
  text-decoration: none;
  margin: 10px 8px;
  color: #eeeeee;
  font-size: 12px;
}
#footer_shopping_menu a:first-child {
  font-size: 17px;
  font-weight: bold;
}
