* {
  font-family: "Montserrat", sans-serif;
}
#topbarsection {
  background-color: #eeeeee;
}
#topbar {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  /* font-family: sans-serif; */
  font-family: "Montserrat", sans-serif;

  font-size: 10px;
  line-height: 10px;
  font-weight: 500;
  width: 70%;
  margin: auto;
  padding: 4px;
  text-align: center;
}

#topbar > div > a {
  text-decoration: none;
  margin: 8px 8px;
}
#navbar {
  /* border: 1px solid red; */
  /* height: 100px; */
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#navbar img {
  width: 100px;
  /* border: 1px solid black; */
  display: block;
  padding: 5px;
  margin: auto 25px;
}
#navtags {
  /* border: 1px solid blue; */
  width: 500px;
  /* height: 50px; */
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

  /* justify-content: space-around; */
}

#navtags a {
  text-align: center;
  margin: 8px 8px;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
  /* line-height: 45px; */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #181818;
}

#navtags a:hover {
  line-height: 15px;
  text-decoration: underline #fdd835 solid 5px;
  /* color: #3c35fd; */
  /* visibility: ; */
  /* transition: all 0.3s ease;
  opacity: 1; */
}
#navtags a:hover .mens_menu {
  visibility: visible;
  /* transition: all 0.3s ease;
  opacity: 1; */
}
.mens_menu {
  position: absolute;
  top: 80px;
  background-color: #8ec5f0;
  width: 60%;
  left: 250px;
  /* opacity: 0; */
  /* visibility: hidden;
  transition: all 0.3s ease; */
}
.mens_menu .content {
  background-color: #8ec5f0;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.content .row {
  /* width: calc(25% - 30px); */
  line-height: 40px;
}
.row .mens_menu li a {
  display: block;
}
.mens_menu .content a {
  list-style: none;
}
.login a {
  text-align: center;
  margin: 8px 8px;
  text-decoration: none;
  font-size: 13px;
  /* letter-spacing: 1px; */
  /* line-height: 45px; */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
#searchbar {
  display: flex;
  /* border: 1px solid red; */
  /* padding: 5px; */
  align-items: center;
}
#search {
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 18px;
  padding: 5px 5px 5px 40px;
  width: 300px;
  margin-right: 12px;
  height: 30px;
}
.login {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  margin: auto 10px;
}
#flag {
  /* border: 1px solid blue; */
  display: flex;
  /* justify-content: center; */
  /* margin: 0px -5px; */
}
#flag img {
  width: 15%;
  /* border: 1px solid red; */
  margin: 5px;
  cursor: pointer;
}

.hotdealstags {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  /* padding: 8px 0px 15px 0px; */
}
.hotdealstags > a {
  text-decoration: none solid rgb(14, 14, 14);
  font-size: 17px;
  color: black;
  font-weight: 550;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 21px 24px;
}

.slider_container {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}
.slider_container img {
  width: 100%;
  /* border: 1px solid red; */
}
.slider_controls {
  /* border: 1px solid black; */
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slider_controls > button {
  background-color: rgb(231, 149, 47);
  border: 3px solid rgb(231, 149, 47);
  margin: 5px;
  border-radius: 4px;
}
.crazy_banner {
  /* border: 1px solid black; */
  margin: 25px 0px;
}
.crazy_banner img {
  object-fit: fill;
  /* border: 1px solid rgb(148, 36, 36); */
  width: 100%;
}
.deals_poster {
  /* border: 1px solid rgb(148, 36, 36); */
  display: flex;
  width: 70%;
  margin: auto;
}
.deals_poster > div {
  /* border: 1px solid blue; */
  /* margin: auto 10px; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05px;
  cursor: pointer;
}
.deals_poster img {
  width: 90%;
}
#couponImage {
  cursor: pointer;
}

.popular_categories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  cursor: pointer;
}
#heading_popular_category,
#discount,
#bestsellers,
#clearance {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;
}

.discount_box {
  /* border: 1px solid black; */
  display: grid;
  gap: 15px;
  /* padding: 10px; */
  grid-template-columns: repeat(2, 1fr);
  cursor: pointer;
  /* justify-content: center; */
}
.discount_box img {
  /* border: 1px solid red; */
  width: 100%;
}

.best_sellers_box,
.clearance_zone_box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  /* border: 1px solid red; */
  width: 98%;
  font-family: "Montserrat", sans-serif;

  margin: auto;
}
.best_sellers_box img,
.clearance_zone_box img {
  width: 100%;
  /* border: 1px solid red; */
}
.best_sellers_box p {
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
}
#poster_slider {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#poster_slider > img {
  width: 100%;
  /* border: 1px solid red; */
  /* text-decoration: ; */
}
#view_all {
  display: block;
  text-align: center;
  /* text-decoration: ; */
  font-size: 12px;
  color: #42a2a2;
  font-weight: 700;
  margin: 15px auto;
}
.stoopid_collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.stoopid_collection > img {
  width: 100%;
}
.tribe_corner > img,
.vote > img {
  /* border: 1px solid black; */
  width: 99%;
  margin: 10px;
}

#footer {
  background-color: #181818;
  color: white;
  padding-top: 80px;
  height: 800px;
}
#footer_logo {
  /* border: 1px solid white; */
  width: 70%;
  margin: auto;
}
#footer_logo img {
  width: 13%;
}

.footer_box {
  /* border: 1px solid white; */
  width: 70%;
  /* height: 500px; */
  margin: auto;
  font-size: 12px;
  line-height: 5px;
  display: flex;
  justify-content: space-between;
}
.footer_box > div {
  /* border: 1px solid red; */
  /* padding: 5px; */
}
.footer_box > div > a {
  display: block;
  margin: 18px 8px;
  color: white;
  text-decoration: none;
}
.footer_box > div > a:first-child {
  color: #fdd835;
}
.footer_box > div > div > a {
  color: #eeeeee;
  margin: 10px 8px;
}
#subscribe {
  /* border: 1px solid white; */
  margin-top: 40px;
  margin-left: 10px;
}
#subscribed {
  background-color: #fdd835;
  color: #181818;
  padding: 10px;
}
#email {
  background-color: #181818;
  /* padding: 10px 25px 10px 25px; */
}
#about_app {
  width: 70%;
  /* border: 1px solid red; */
  margin: 25px auto;
  color: #eeeeee;
  display: flex;
  /* justify-content: space-between; */
}
#about_app > div {
  /* border: 1px solid blue; */
}
#about_app > div:nth-child(2) {
  /* border: 1px solid blue; */
  margin-left: 110px;
  display: flex;
  flex-direction: column;
}
#about_app > div > div {
  display: flex;
}
#about_app > div > div > img {
  /* border: 1px solid blue; */
  width: 40%;
}
#about_app > div:nth-child(3) {
  /* border: 1px solid blue; */
  margin-left: -25px;
  display: flex;
  flex-direction: column;
}
#about_app a {
  display: block;
  margin: 18px 8px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  line-height: 5px;
}
#about_app a:first-child {
  color: #fdd835;
}
#footer_shopping_menu {
  width: 70%;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  /* justify-content: space-between; */
}
#footer_shopping_menu > div {
  /* border: 1px solid white; */
}
#footer_shopping_menu > div:nth-child(2) {
  /* border: 1px solid white; */
  margin-left: 80px;
}
#footer_shopping_menu > div:nth-child(3) {
  /* border: 1px solid white; */
  margin-left: 40px;
}
#footer_shopping_menu > div:nth-child(4) {
  /* border: 1px solid white; */
  margin-left: 110px;
}
#footer_shopping_menu a {
  display: block;
  text-decoration: none;
  margin: 10px 8px;
  color: #eeeeee;
  font-size: 12px;
}
#footer_shopping_menu a:first-child {
  font-size: 17px;
  font-weight: bold;
}
