* {
    font-family: "Montserrat", sans-serif;
  }
  #location_indicator{
    /* border: 1px solid red; */
    width: 63%;
    padding: 10px;
    margin:5px auto;
    font-size: 12px;
    /* letter-spacing: 1px; */
  }
  .discount_image{
    width: 100%;
  }
  .discount_image>img{
    width: 100%;
  }
  #category_name{
    /* border:1px solid red; */
    width: 70%;
    margin:15px auto;
    font-size: 24px;
    font-weight: 700;
  }
  .container{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    
  }
  .filter{
    /* border: 1px solid red; */
    width: 25%;
  }
  .filter>div:first-child{
    display: flex;
    justify-content: space-between;
    padding: 10px 2px;
    font-size: 12px;
  }
  
  #products{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    gap: 10px;
    padding: 5px;
    
  }
  #products>div{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    cursor: pointer;

  }
  #products img{
    width: 100%;
    cursor: pointer;
  }
  #products>div>div{
    /* border: 1px solid red; */
    justify-content: space-between;
    display: flex;
  }
  /* wishlistImage */
  #products>div>div>img{
    /* border: 1px solid blue; */
    width: 10%;
  }
  /* brandbox and image */
  #products>div>div>div{
    /* border: 1px solid green; */
    padding: 2px;
  }
/* brand Name */
  #products>div>div>div>p:first-child{
    font-size:12px;
    font-weight: 700;
    /* background-color: aqua; */
  }
/* desc */
  #products>div>div>div>p:last-child{
    font-size:10px;
    font-weight: 500;
    /* background-color: aqua; */
  }
  #products>div>img+div+div{
    /* border: 1px solid teal; */
    display: flex;
    justify-content: left;
  }
  #products>div>div>p{
    /* border: 1px solid red; */
    font-size: 16px;
    /* display: inline; */
    font-weight: 700;
    margin-right: 10px;
  }
  #products>div>div>p:first-child{
    /* border: 1px solid rgb(0, 255, 8); */
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
  }
  #products>div>div>p:last-child{
    /* border: 1px solid rgb(0, 255, 8); */
    font-size: 10px;
    align-items: center;
    font-weight: 700;
    margin-right: 10px;
    padding-top: 9px;
    text-decoration: line-through;
  }
  #products>div>p{
    /* border: 1px solid red; */
    font-size: 12px;
  }

 #search::placeholder{
    
 }


 .accordion {
  background-color: #ffffff;
  color: #444;
  cursor: pointer;
  padding: 18px 2px;
  width: auto;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-bottom: 1px solid black;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
  
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  cursor: pointer;
}



.panel>a{
  display: block;
}
button{
  display: block;
}

.accordion{
  display: flex;
  justify-content: space-between;
  height: 25px;
  align-items: center;
}
.accordion>p{
  font-size: 16px;
}
.panel>p{
  font-size: 12px;
}